.channelRow {
  display: flex;
  align-items: center;
  width: 70%;
}

.channelRow__text {
  display: flex;
  flex-direction: column;
}

.channelRow__text > h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.channelRow__text:nth-child(n) p {
  margin-top: 0.5rem;
}

.channelRow__text > p {
  color: #606060;
}

.channelRow__logo {
  height: 12rem !important;
  width: 12rem !important;
  margin: 1rem 6rem;
}
