.videoRow {
  display: flex;
  margin-bottom: 3rem;
  max-width: 70rem;
  cursor: pointer;
  padding: 1rem;
}

.videoRow > img {
  object-fit: cover;
  height: 13.8rem;
  min-width: 24.6rem;
}

.videoRow__text {
  margin-left: 1.4rem;
}

.videoRow__text > h3 {
  margin-bottom: 0.5rem;
}

.videoRow__description {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #606060;
}

.videoRow__headLine {
  font-size: 1.2rem;
  color: #606060;
}

.videoRow__subsNumber {
  font-weight: bolder;
  color: rgb(84, 157, 211);
}

.videoRow__subs {
  background-color: lightgray;
  padding: 2px;
}
