.recommendedVideos {
  flex: 0.82;
  background-color: #f9f9f9;
  padding: 2rem 1% 0;
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 2rem;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
